.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  border-radius:70%;
  object-position: 50%;
}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  background-color: #75CFB8;
  min-height: 30px;
  display: inherit;
  position: sticky;
  top:0;
  z-index: 1000;
  padding: 10px 0;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}
.App-header2 {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  background-color: #FFD495;
  min-height: 50px;
  position: sticky;
  top: 94px;
  z-index: 1000;
  padding: 10px 0;
  font-size: calc(10px + 2vmin);
  color: black;
}

.botonN {
  background-color: #FFD495;
  border-radius: 10%;
  height: 20px;
  padding: 5px 10px;
  margin-right: 10px; /* Espacio entre los enlaces */
  text-decoration: none;
  color: black;
}


.login{
  background-color: #FFD495;
  border-radius: 10%;
  height: 20%;
  border-color: #FFD495;
 
}
.registar{
  background-color: #FFD495;
  border-radius: 10%;
  height: 20%;
  border-color: #FFD495;
  right: -50px;
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* sidebarStyles.css */
/* App.css */
/*.sidebar {
  width: 200px; 
  height: 100vh; 
  background-color: #FFD495; 
  color: white; 
}

.menu-item {
  padding: 10px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.menu-item:hover {
  background-color: #FFD495; 

.sub-menu {
  background-color: #FFD495; 
}

.sub-menu-item {
  padding: 8px 20px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.sub-menu-item:hover {
  background-color: #FFD495; 
}*/
.siderbar{
  position:fixed;
  height: 100%;
  top: -50px;
  overflow-y:auto ;
  overflow-x: hidden;
  z-index: 3;
  width: 2px; 
  height: vh; 
  background-color: #75CFB8; 
  color: black;
  
}
.App-footer{
  background-color: #75CFB8;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}